/* src/components/Skills.css */
ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  strong {
    display: inline-block;
    width: 120px;
  }
  
  .progress-bar {
    width: 200px;
    height: 20px;
    background-color: #eee;
    margin: 5px 0;
  }
  
  .progress {
    height: 100%;
    background-color: #3498db;
  }
  
  @media only screen and (max-width: 600px) {
    .container-box{
        width: 80%;
        margin: auto;
    }
  }