.container-box{
    width: 70%;
    margin: auto;
}

.profile-image{
    border-radius: 70%;
    width: 280px;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .container-box{
        width: 80%;
        margin: auto;
    }
  }